.TopBox {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 10%;
  width: 100%;
  height: 10%;

  p {
    font-size: 1.5rem;
  }
  .inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    input {
      width: 90%;
      height: 35px;
      border: none;
      outline: none;
      font-size: 1rem;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
      height: 100%;
      border: none;
      outline: none;
    }
  }
}
.mapBox {
  width: 100%;
  height: 60%;
}
.searchBox {
  width: 100%;
  height: 30%;

  .searchInfor {
    position: relative;
    background-color: #fff;
    padding: 0 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 3px solid #11455d;
    border-left: 3px solid #11455d;
    border-right: 3px solid #11455d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .bugInput {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 70%;

      table {
        width: 100%;
        height: 80%;

        td {
          width: 70%;
          height: 20%;

          input {
            width: 70%;
            height: 50%;
            outline: none;
            border: 2px solid #ccc;
          }
        }
      }
    }
  }
  .hunterBtn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11455d;
    border: 1px solid #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    p {
      font-size: 1.2rem;
    }
  }
}
