
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center; /* 중앙에 맞추기 위해 변경 */
  height: 100vh;
  margin: 0;
}

.ranking-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* 부모 요소에 맞게 너비 설정 */
  height: 100%; /* 부모 요소에 맞게 높이 설정 */
  max-width: 390px; /* 최대 너비를 390px로 설정 */
  max-height: 880px; /* 최대 높이를 844px로 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  text-align: center;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비와 높이 계산 */
}

.ranking-container h2 {
  font-family: 'LINESeedKR-Bd', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.ranking-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #d0e4f5;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.rank {
  font-family: 'LINESeedKR-Bd', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
  margin-right: 10px;
}

.username {
  font-family: 'LINESeedKR-Bd', sans-serif;
  font-size: 1.2em;
  color: #333;
  flex: 1; 
  text-align: left; 
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.back-button {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  color: #000; 
}
